## Ignore vi tmps
*.swp

## Ignore emacs tmps
[.][#]*
[#]*[#]
*~

## Ignore python pyc files
*.pyc

## Ignore these demo image files
*gwpe2.jpeg
*MrNicCage.jpg  
*NickCage.jpg
imgs/gwpe3.png
junk/
imgs/MrNicCage.jpg
